<!DOCTYPE html>
<html lang="en" class="h-full">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="icon" href="/images/logo-blanc.png" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="../../css/output.css" />
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body class=" min-h-screen relative ">
    <!-- Nav Bar -->
    <header>
        <%- include('../../../components/dashboard/nav-bar-dashboard') %>
    </header>
    
   
    
    <!-- Side Bar Menu -->
    <aside class="fixed z-20 top-0 left-0 h-screen">
        <%- include('../../../components/dashboard/side-menu') %>
    </aside>
    
    
    
    
    
    <!-- Footer -->
    <footer class="pt-80">
        <%- include('../../../components/footer') %>
    </footer>
    
    </body>
</html>




----------------

