<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title></title>
        <script type="text/javascript" defer src="../js/activeLink.js"></script>
        <link rel="stylesheet" href="../css/style.css">
      </head>

<body">

    <!-- Movie Listings -->
    <main class="container grid grid-cols-1 lg:grid-cols-2 lg:grid-rows-2 gap-14 md:gap-20 w-fit h-fit md:mb-14 mb-32">

        <div class="flex items-center justify-center flex-col w-60 pb-3 space-y-2 cursor-pointer hover:scale-95 duration-200">
            <img src="/images/films/fall-guy.jpg" alt="Image 1" class="max-w-full h-auto">
            <h1 class="font-arvo text-blueOne text-lg font-bold tracking-wide">
                Fall Guy
            </h1>
            <p class="font-arvo text-blueOne font-thin text-sm tracking-wide">
            Réservation faite le : 01/10/2023
            </p>
        </div>

        <div class="flex items-center justify-center flex-col w-60 pb-3 space-y-2 cursor-pointer hover:scale-95 duration-200">
            <img src="/images/films/fall-guy.jpg" alt="Image 1" class="max-w-full h-auto">
            <h1 class="font-arvo text-blueOne text-lg font-bold tracking-wide">
                Fall Guy
            </h1>
            <p class="font-arvo text-blueOne font-thin text-sm tracking-wide">
            Réservation faite le : 01/10/2023
            </p>
        </div>

        <div class="flex items-center justify-center flex-col w-60 pb-3 space-y-2 cursor-pointer hover:scale-95 duration-200">
            <img src="/images/films/fall-guy.jpg" alt="Image 1" class="max-w-full h-auto">
            <h1 class="font-arvo text-blueOne text-lg font-bold tracking-wide">
                Fall Guy
            </h1>
            <p class="font-arvo text-blueOne font-thin text-sm tracking-wide">
            Réservation faite le : 01/10/2023
            </p>
        </div>

        <div class="flex items-center justify-center flex-col w-60 pb-3 space-y-2 cursor-pointer hover:scale-95 duration-200">
            <img src="/images/films/fall-guy.jpg" alt="Image 1" class="max-w-full h-auto">
            <h1 class="font-arvo text-blueOne text-lg font-bold tracking-wide">
                Fall Guy
            </h1>
            <p class="font-arvo text-blueOne font-thin text-sm tracking-wide">
            Réservation faite le : 01/10/2023
            </p>
        </div>   
       
    </main>
    
</body>
</html>