<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <script type="text/javascript" defer src="../js/activeLink.js"></script>
    <script type="text/javascript" defer src="../js/main.js"></script>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body class="">
    
    <!-- desktop version -->
    <nav class="w-[80vw] absolute right-0 hidden bg-white z-30 md:block ml-8">
      <ul
        class="flex mt-8 mb-4 max-w-full mx-2 sm:mx-4 md:mx-8 lg:mx-12 xl:mx-16 justify-around font-arvo font-bold text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl items-center md:space-x-2"
      >
        <li class="nav"><a href="/accueil" class="text-blackOne">ACCUEIL</a></li>
        <li class="nav"><a href="/films" class="text-blackOne">FILMS</a></li>
        <li class="nav"><a href="/reservation" class="text-blackOne">RÉSERVATION</a></li>
        <li class="nav"><a href="/contact" class="text-blackOne">CONTACT</a></li>
        <% if (user && user.role === 'user') { %>
          <li class="nav"><a href="/dashboard/user" class="text-blackOne">MON ESPACE</a></li>
        <% } else if (user && user.role === 'employee') { %>
        <li class="nav"><a href="/dashboard/employee" class="text-blackOne">INTRANET</a></li>
        <% } else if (user && user.role === 'admin') { %>
        <li class="nav"><a href="/dashboard/admin" class="text-blackOne">ADMINISTRATION</a></li>
        <% } else { %>
        <li class="nav"><a href="/login" class="text-blackOne">CONNEXION</a></li>
        <% } %>
      </ul>
    </nav>

    <!-- NAVBAR RESPONSIVE MOBILE -->
    <nav class="w-full md:hidden overflow-hidden">
      <ul
        class="flex mt-8 mb-8 max-w-full gap-x-8 justify-between text-blackOne font-arvo font-bold text-base items-center mx-4"
      >
        <!-- Menu Hamburger -->

        <button id="hamburger-button" class="cursor-pointer relative w-8 h-8">
          <div
            class="bg-blackOne w-8 h-1 rounded absolute top-4 -mt-0.5 transition-all duration-500 before:content-[''] before:bg-blackOne before:h-1 before:w-8 before:rounded before:absolute before:-translate-x-4 before:-translate-y-3 before:transition-all before:duration-500 after:content-[''] after:bg-blackOne after:h-1 after:w-8 after:rounded after:absolute after:-translate-x-4 after:translate-y-3 after:transition-all after:duration-500"
          ></div>
        </button>

         <!-- LOGO -->
         <li>
          <a href="/" class="font-arvo text-blackOne text-3xl">CINEPHORIA</a>
        </li>

        <!-- User Login -->
        <a href="/login">
          <li class="md:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 24 24"><path fill="#1E1E1E" d="M15.71 12.71a6 6 0 1 0-7.42 0a10 10 0 0 0-6.22 8.18a1 1 0 0 0 2 .22a8 8 0 0 1 15.9 0a1 1 0 0 0 1 .89h.11a1 1 0 0 0 .88-1.1a10 10 0 0 0-6.25-8.19M12 12a4 4 0 1 1 4-4a4 4 0 0 1-4 4"/></svg>
          </li>
        </a>
      </ul>
    </nav>

    <!-- mobile nav menu -->
    <section
      id="mobile-menu"
      class="absolute z-10 top-32 bg-blackOne w-full text-5xl flex-col justify-center items-center origin-top animate-open-menu hidden"
    >

      <nav
        class="flex flex-col min-h-screen items-center py-8"
        aria-label="mobile"
      >
        <a
          href="/"
          class="w-full text-center font-arvo text-white py-6 transition-all duration-300 ease-in-out transform hover:opacity-90 hover:scale-105 hover:-translate-y-2 hover:text-goldOne"
          >Accueil</a
        >
        <a
          href="/films"
          class="w-full text-center font-arvo text-white py-6 transition-all duration-300 ease-in-out transform hover:opacity-90 hover:scale-105 hover:-translate-y-2 hover:text-goldOne"
          >Films</a
        >
        <a
          href="/réservation"
          class="w-full text-center font-arvo text-white py-6 transition-all duration-300 ease-in-out transform hover:opacity-90 hover:scale-105 hover:-translate-y-2 hover:text-goldOne"
          >Réservation</a
        >
        <a
          href="/contact"
          class="w-full text-center font-arvo text-white py-6 transition-all duration-300 ease-in-out transform hover:opacity-90 hover:scale-105 hover:-translate-y-2 hover:text-goldOne"
          >Contact</a
        >
      </nav>
    </section>
  </body>
</html>