<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <section
        id="search-status"
        class="absolute z-10 top-[130px] hidden min-h-screen  bg-blackOne w-full text-5xl flex-col justify-top items-center origin-top animate-open-menu"
      >
        <div
          class="container gap-y-5 flex flex-col w-[80vw] mx-auto bg-transparent pt-4 md:px-20"
        >
          <div
            class="w-full flex items-center justify-between text-white md:px-5 md:py-5"
          >
            <p class="font-arvo text-xl text-nowrap">Statut de la réservation</p>
            <a href="#bottom">
              <button class="text-6xl pb-3" id="close-search-status">
                &times;
              </button>
            </a>
          </div>

          <form action="" class="flex flex-col ml-10">
            <div>
                <input type="checkbox" name="past" id="pastReservation" class="appearance-none shrink-0 w-4 h-4 border rounded-sm focus:outline-none checked:bg-goldOne hover:ring hover:ring-white"/>
                <label class=" text-white font-arvo text-lg" for="past">Réservations passées</label>
            </div>

            <div>
                <input type="checkbox" name="futur" id="futurReservation" class="appearance-none shrink-0 w-4 h-4 border rounded-sm focus:outline-none checked:bg-goldOne hover:ring hover:ring-white"/>
                <label class=" text-white font-arvo text-lg " for="futur">Réservations en cours</label>
            </div>

          </form>

         
      </section>
</body>
</html>