<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="icon" href="/images/logo-2.svg" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="css/output.css" />
    <link rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="text/javascript" defer src="js/main.js"></script>
    <script type="text/javascript" defer src="js/swipper.js"></script>
    <script type="text/javascript" defer src="/js/moviesAvailability.js"></script>
  </head>

  <body class="relative min-h-screen pb-20">

    <header class="relative">
      <!-- Include navigation bar -->
      <%- include('../components/nav-bar') %>

      <!-- Main image slider -->
      <div class="swiper main-slider h-[60vh]">
        <div class="swiper-wrapper">
          <!-- Slide 1 -->
          <div class="swiper-slide">
            <img src="/images/sieges.jpg" alt="photo header" class="object-cover w-full h-full">
          </div>
          <!-- Slide 2 -->
          <div class="swiper-slide">
            <img src="/images/ocean-cinema.jpg" alt="photo header" class="object-cover w-full h-full">
          </div> 
        </div>
      </div>
    </header>


    <main class="flex-grow">

    <section class="font-arvo text-blackOne font-bold">
        <!-- Latest movies section header -->
      <div class="md:flex md:flex-row md:justify-between md:mx-28 md:my-16 md:items-center flex flex-col mt-10 mb-10 ml-14">
        <p class="text-3xl mb-10 md:mb-0">
          NOUVEAUTÉS
        </p>
        <a href="#" class="flex items-center">
          Tous les films à l’affiche
          <span class="ml-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 24 24"><path fill="none" stroke="#1E1E1E" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10 17l5-5m0 0l-5-5"/></svg>
          </span>
        </a>
      </div>

        <!-- Latest movies carousel -->
      <div class="mb-36 md:mb-14"><%- include('../components/latest-movies') %></div>
    </section>
    </main>
    
    <!-- Include footer -->
    <footer>
      <%- include('../components/footer') %>
    </footer>

  </body>
</html>