<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" href="css/output.css" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="/images/logo-2.svg" type="image/x-icon">
    <script type="text/javascript" defer src="js/main.js"></script>
</head>

<body class="relative min-h-screen">

    <header class="relative">
        <!-- Include the navigation bar -->
        <%- include('../components/nav-bar') %>
    </header>


    <main class="relative flex items-center justify-center min-h-screen md:mb-0 px-10 py-40">

        <!-- Background image -->
        <img src="/images/sieges.jpg" alt="salle de cinéma avec des sièges rouges" class="absolute inset-0 w-full h-full object-cover -z-20">

        <!-- Contact form container -->
        <div class="relative z-0 w-full max-w-lg mx-auto mb-44 md:mb-20 ">
            <form class="bg-white font-arvo p-10 w-full max-w-lg mx-auto rounded-xl" action="" method="">
                
                <h1 class="text-blackOne font-extrabold text-center text-3xl mb-7">CONTACTEZ-NOUS</h1>
                <!-- Form fields -->
                <div class="flex flex-col md:flex-row md:space-x-4 md:mb-4">
                    <!-- Last Name field -->
                    <div class="md:w-1/2">
                        <label class="block text-sm font-normal text-blackOne opacity-60 mb-1" for="nom">Nom</label>
                        <div class="w-full border border-gray-300 p-1 rounded-sm bg-whiteOne mb-3 md:mb-0">
                            <input class="bg-whiteOne outline-none flex-1 placeholder:opacity-70 text-blackOne" type="text" id="nom" name="name" placeholder="ex: Dupuy" required>
                        </div>
                    </div>
                    <!-- First Name field -->
                    <div class="md:w-1/2">
                        <label class="block text-sm font-normal text-blackOne opacity-60 mb-1" for="prenom">Prénom</label>
                        <div class="w-full border border-gray-300 p-1 rounded-sm bg-whiteOne mb-3 md:mb-0">
                            <input class="bg-whiteOne m-0 outline-none flex-1 placeholder:opacity-70 text-blackOne" type="text" id="prenom" name="first_name" placeholder="ex: Jacques" required>
                        </div>
                    </div>
                </div>
                <!-- Username field -->
                <div class="mb-4">
                    <label class="block text-sm font-normal text-blackOne opacity-60 mb-1" for="user_name">Nom d'utilisateur</label>
                    <div class="w-full border border-gray-300 p-1 rounded-sm bg-whiteOne">
                        <input class="bg-whiteOne w-full outline-none flex-1 placeholder:opacity-70 text-blackOne" type="text" id="user_name" name="user_name" placeholder="ex: JacquesDupuy55" required>
                    </div>
                </div>
                <!-- Subject field -->
                <div class="mb-4">
                    <label class="block text-sm font-normal text-blackOne opacity-60 mb-1" for="objet">Objet*</label>
                    <div class="w-full border border-gray-300 p-1 rounded-sm bg-whiteOne">
                        <input class="bg-whiteOne w-full outline-none flex-1 placeholder:opacity-70 text-blackOne" type="text" id="objet" name="objet" placeholder="ex: Horaire" required>
                    </div>
                </div>
                <!-- Message field -->
                <div class="">
                    <label class="block text-sm font-normal text-blackOne opacity-60 mb-1" for="message">Message*</label>
                    <div class="w-full border border-gray-300 rounded-sm p-1 bg-whiteOne">
                    <textarea class="text-blackOne w-full h-40 bg-whiteOne outline-none flex-1 placeholder:opacity-70" id="message" name="message" placeholder="Ecrivez votre message ici..." required></textarea>
                    </div>
                </div>
                <!-- Required fields note -->
                <p class="text-xxs text-center font-extrabold text-blackOne opacity-60 mt-2 mb-6">*Champs obligatoires</p>
                <!-- Submit button -->
                <div class="flex justify-center">
                    <button class="bg-redOne text-white py-2 px-4 w-52 rounded hover:bg-red-500 hover:scale-95 duration-150">ENVOYER</button>
                </div>
            </form>
        </div>
    </main>

    <footer>
        <!-- Include the footer -->
        <%- include('../components/footer') %>
      </footer>
</body>
</html>