<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" href="css/output.css" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="/images/logo-blanc.png" type="image/x-icon">
</head>
<body class="relative min-h-screen pb-20">
    <header class="relative">
        <!-- navbar section -->
        <%- include('../components/nav-bar') %>
    </header>

    <main class="flex items-center justify-center min-h-screen mb-28">
        
        <div class="w-full max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-6xl">
            <form class="font-arvo p-10 w-full" action="" method="">

                <h1 class="text-blueOne font-extrabold text-center text-2xl mb-20 md:text-3xl">CONNEXION</h1>

                <div class="flex space-x-4 justify-between mb-16">
                    <h2 class="text-blueOne opacity-60 font-extrabold text-center text-base md:text-xl">JE M'IDENTIFIE</h2>
                    <h2 class="text-blueOne opacity-60 font-extrabold text-center text-base md:text-xl">JE CRÉE UN COMPTE</h2>
                </div>

                <div class="flex flex-col">
                    <div class="">
                        <div class="w-full border border-gray-300 p-3 rounded-sm bg-whiteOne mb-3">
                            <input class="bg-whiteOne outline-none flex-1 placeholder:text-blueOne" type="text" id="email" name="email" placeholder="E-mail*" Prequired>
                        </div>
                    </div>
                    <div class="">
                        <div class="w-full border border-gray-300 p-3 rounded-sm bg-whiteOne mb-3">
                            <input class="bg-whiteOne m-0 placeholder:text-blueOne" type="text" id="prenom" name="first_name" placeholder="Mot de passe*" required>
                        </div>
                    </div>
                </div>

                <div class="text-blueOne font-semibold text-xs mb-16">
                    <input class="bg-whiteOne m-0 placeholder:text-blueOne mr-1" type="checkbox" id="prenom" name="first_name" required> SE SOUVENIR DE MOI
                </div>
                
                <div class="flex justify-center">
                    <button class="bg-redOne text-white py-2 px-4 w-52 rounded-sm">JE ME CONNECTE</button>
                </div>
                <p class="text-xxs text-center font-extrabold text-blueOne opacity-90 mt-2 mb-4">*Champs obligatoires</p>
                <p class="text-xs text-center font-extrabold text-blueOne mt-2 mb-6">MOT DE PASSE OUBLIÉ ?</p>
            </form>
        </div>
    </main>

    <footer>
        <!-- footer section -->
        <%- include('../components/footer') %>
      </footer>
</body>
</html>