<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <script defer src="../../js/footer.js"></script>
  </head>
  <body>
    
    <footer
      class="bg-blackOne text-white absolute bottom-[-200px] left-0 w-full" id="footer"
    >
      <!-- Footer Desktop version -->
      <section
        class="w-full hidden overflow-hidden md:flex bg-blackOne text-white font-semibold max-w-full justify-between items-center px-10 py-5 max-h-[30vh]"
      >
        <div
          class="flex flex-col items-center text-xs ml-10 mb-16 md:mt-10 pt-8"
        >
          <!-- Logo et Copywrite -->
          <a href="/"><svg width="117" height="117" viewBox="0 0 117 117" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M38.3616 19.3823L76.8498 19.1038L57.9524 38.5883L38.3616 19.3823Z" fill="white" stroke="white"/>
            <path d="M57.9515 38.5874L96.4397 38.3089L77.5422 57.7934L57.9515 38.5874Z" fill="white" stroke="white"/>
            <path d="M19.1573 38.9736L57.8498 38.4866L38.748 58.1796L19.1573 38.9736Z" fill="white" stroke="white"/>
            <path d="M38.7483 58.1792L77.2365 57.9007L58.3391 77.3852L38.7483 58.1792Z" fill="white" stroke="white"/>
            <path d="M77.8261 96.7967L39.3373 96.9738L58.286 77.5392L77.8261 96.7967Z" fill="white" stroke="white"/>
            </svg></a>
          <p>2000-2024 &copy; Cinephoria</p>
          <!-- logo -->
        </div>
        <!-- Cinema Adress -->
        <div class="flex flex-col items-end text-lg text-center">
          <p>155 rue de Charonne - 75011 Paris - France</p>
          <p>+33 01 41 65 24 32</p>
          <p>Du Lundi au Vendredi de 09H00 à 19H00</p>
        </div>
      </section>

      <!-- section Responsive Mobile -->
      <section
        class="w-full md:hidden overflow-hidden h-96 bg-blackOne text-white font-arvo font-semibold absolute bottom-0"
      >
        <!-- Cinema Adress -->
        <div class="text-base text-center mb-16 mt-12">
          <p>155 rue de Charonne - 75011 Paris - France</p>
          <p>+33 01 41 65 24 32</p>
          <p>Du Lundi au Vendredi de 09H00 à 19H00</p>
        </div>
        <div class="flex flex-col items-center text-xs">
          <!-- Logo and Copywrite -->
          <a href="/"><svg width="117" height="117" viewBox="0 0 117 117" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M38.3616 19.3823L76.8498 19.1038L57.9524 38.5883L38.3616 19.3823Z" fill="white" stroke="white"/>
            <path d="M57.9515 38.5874L96.4397 38.3089L77.5422 57.7934L57.9515 38.5874Z" fill="white" stroke="white"/>
            <path d="M19.1573 38.9736L57.8498 38.4866L38.748 58.1796L19.1573 38.9736Z" fill="white" stroke="white"/>
            <path d="M38.7483 58.1792L77.2365 57.9007L58.3391 77.3852L38.7483 58.1792Z" fill="white" stroke="white"/>
            <path d="M77.8261 96.7967L39.3373 96.9738L58.286 77.5392L77.8261 96.7967Z" fill="white" stroke="white"/>
            </svg></a>
          <p>2000-2024 © Cinephoria</p>
          <!-- logo -->
        </div>
      </section>
    </footer>
  </body>
</html>